extends layout

block layout-content
    div.editPage
        div.Message
            div.Title
                h2 Edit City
        form(action='/api/edit/item.id' method='POST')
            .form-group.row
                label(for='id') ID:
                input#id.form-control(type='text' name='id' placeholder='' value='')
            .form-group.row
                label(for='fldName') City Name:
                input#fldName.form-control(type='text' name='fldName' placeholder='' value='')
            .form-group.row
                label(for='fldLat') Latitude:
                input#fldLat.form-control(type='text' name='fldLat' placeholder='' value='')
            .form-group.row
                label(for='fldLong') Longitude:
                input#fldLong.form-control(type='text' name='fldLong' placeholder='' value='')
            .form-group.row
                label(for='fldCountry') Country:
                input#fldCountry.form-control(type='text' name='fldCountry' placeholder='' value='')
            .form-group.row
                label(for='fldAbbreviation') Abbreviation:
                input#fldAbbreviation.form-control(type='text' name='fldAbbreviation' placeholder='' value='')
            .form-group.row
                label(for='fldCapitalStatus') Capital:
                input#fldCapitalStatus.form-control(type='text' name='fldCapitalStatus' placeholder='' value='')
            .form-group.row
                label(for='fldPopulation') Population:
                input#fldPopulation.form-control(type='text' name='fldPopulation' placeholder='' value='')
            .form-group.row
                button.btn.btn-primary(type='submit') Edit
