extends layout

block layout-content
    div.View.UserView
        h1.Banner Hello, #{userProfile.nickname}!
        div.Message
            div.Title
                h3 IS 219
            pre.Details=JSON.stringify(userProfile, null, 2)
        div.NavButtons
            a(href="http://localhost:3000")
                div.NavButton Home
            a(href="/logout")
                div.NavButton Log out
